body {
  background: #2C3E50;
  padding: 20px 0;
}

.tweets-app ul {
  list-style-type: none;
  margin: 0 auto;
  width: 800px;
}

.tweet {
  background: white;
  border-radius: 3px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 white;
  font-weight: 300;
  padding: 20px;
  display: none;
  margin: 0;
}

.tweet.active {
  display: block;
  margin: 20px 0;
}

.tweet:after {
  content: "";
  display: table;
  clear: both;
}

.tweet-image {
  float: left;
}

.tweet-content {
  margin-left: 70px;
}

.tweet-content h2 {
  color: #1ABC9C;
  display: inline;
  font-size: 16px;
  margin: 0 10px 0 0;
}

.tweet-content span {
  color: #ccc;
  font-size: 14px;
}

.tweet-content p {
  margin: 10px 0 0 0;
}

.loader {
  text-align: center;
  opacity: 0.8;
}

.loader img {
  max-height: 0;
  margin: 0;

  -webkit-transition: 1s-all-ease;
  -moz-transition: 1s-all-ease;
  transition: 1s-all-ease;
}

.loader.active img {
  max-height: 50px;
  margin: 20px auto;
}

.notification-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;

  background-color: rgba(241, 196, 15,.9);
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.notification-bar.active {
  display: block;
}

.notification-bar a {
  color: white;
  font-weight: bold;
}
